{% for domain in domains %}
{% for account in domain.email_accounts %}
{{ account.username }}@{{ domain.name }}	default._domainkey.{{ domain.name }}
{% endfor %}
*@{{ domain.name }}	default._domainkey.{{ domain.name }}
{% endfor %}
