version: '3.8'

services:
  mail:
    build:
      context: ./build
      dockerfile: Dockerfile
    container_name: hibana-mail-{{ domain_name | replace('.', '-') }}
    restart: unless-stopped
    hostname: {{ mailserver_subdomain }}.{{ domain_name }}
    networks:
      - mail-network
    extra_hosts:
      - "host.docker.internal:{{ mail_network_gateway_ip }}"
    environment:
      - DOMAIN={{ domain_name }}
      - MAILSERVER_HOSTNAME={{ mailserver_subdomain }}.{{ domain_name }}
      - DB_HOST=host.docker.internal
      - DB_NAME=hibana
      - DB_USER=hibana
      - DB_PASSWORD=${DB_PASSWORD}
    volumes:
      - ./data:/var/mail/vhosts
      - ./dkim:/etc/opendkim/keys
      - ./ssl:/etc/ssl/certs/external:ro
      - ./logs:/var/log/mail
    labels:
      - "hibana.mail.domain={{ domain_name }}"
      - "hibana.mail.hostname={{ mailserver_subdomain }}.{{ domain_name }}"

networks:
  mail-network:
    external: true
    name: hibana-mail-network
